{% extends "::base.html.twig" %}

{% block title %}Wallet list{% endblock %}

{% block body %}
<h1>Wallet list</h1>

    <div class="panel panel-primary">

        <div class="panel-heading">
            <a class="btn btn-default" href="{{ url('app_wallet_create') }}" role="button">Create a new wallet</a>
        </div>

        <div class="panel-body">

            <div class="list-group">
                {# wallet \AppBundle\Entity\Wallet #}
                {% for wallet in wallets %}
                    <a href="{{ url('app_wallet_detail', {wallet: wallet.id}) }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ wallet.name }}</h4>
                        {% if wallet.description | length %}<p class="list-group-item-text">{{ wallet.description }}</p>{% endif %}
                        <p class="list-group-item-text">Owner: {{ wallet.owner.nickName }}</p>
                        {% if wallet.sharedWith | length %}
                            <p class="list-group-item-text">Shared with: {{ wallet | wallet_share_name_list }}</p>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            <div class="panel-footer">
                {% include 'FacilePaginatorBundle:Pagination:template.html.twig' %}
            </div>

        </div>

    </div>

{% endblock %}
